@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model List<PRJ_NET.Models.Entities.Ticket>

<div class="container py-5">

    <div class="row">
        <div class="col-lg-10 mx-auto">
            <div class="card rounded-10 border-0 shadow" style="min-height: 425px;">
                <div class="card-body pr-2 pl-2">
                    <div class="row">
                        <div class="col-4 ml-4">
                            <h1 class="mb-4">Transport</h1>
                        </div>
                        <div class="col-6 mt-2">
                            <div class="input-group">
                                <input type="text" class="form-control input-text" placeholder="Search products...." aria-label="Recipient's username" aria-describedby="basic-addon2">
                            </div>
                        </div>
                        <div class="col-1 mt-2">
                            <a href="Admin" class="btn border-orange px-4 rounded-4 orange-color">Add</a>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table id="ShowticketsTable" class="table">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Car Name</th>
                                    <th scope="col">D City</th>
                                    <th scope="col">A City</th>
                                    <th scope="col">D Time</th>
                                    <th scope="col">A Time</th>
                                    <th scope="col">Price</th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    var conter = 0;
                                }
                                @if (Model != null)
                                {
                                    @foreach (var ticket in Model)
                                    {
                                        conter++;
                                        <tr>
                                            <td><strong>@conter</strong></td>
                                            <td>@ticket.TransportName</td>
                                            <td>@ticket.DepartureCity</td>
                                            <td>@ticket.ArrivalCity</td>
                                            <td>@ticket.DepartureTime</td>
                                            <td>@ticket.ArrivalTime</td>
                                            <td>@ticket.TicketPrice</td>
                                            <td>
                                                <div class="row">
                                                    <a asp-controller="Tickets" asp-action="Edit" asp-route-id="@ticket.TicketId" class="btn btn-orange rounded-2 p-1" style="width: 35px; height: 35px;">
                                                        <img src="../images/refresh.png" style="width: 22px; display: block; margin: auto;">
                                                    </a>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
