@{
    ViewData["Title"] = "transinfo";
}


<div class="container-pay mt-4">
    <div id="logo">
        <h1 class="logo" style="width: 60px;"></h1>
        <div class=""></div>
    </div>
    <div class="leftbox">
        <nav>
            <a class="active test-white"><i class="fa fa-tasks"></i></a>
            <a class="test-white"><i class="fa fa fa-user"></i></a>
            <a class="test-white"><i class="fa fa-credit-card"></i></a>
            <a class="test-white"><i class="fa fa-check-circle"></i></a>
            <a class="test-white"><i class="fa fa-download"></i></a>
        </nav>
    </div>
    <div class="rightbox">
        <div class="transinfo">
            <a href="/" class="BACK">
                <img src="../images/arrow-left.png">
            </a>
            <h1>Transport Info</h1>
            <div class="row mb-3">
                <div class="col-sm-5 mt-2"><h2 class="h2plus"><strong>Bus Name:</strong></h2></div>
                <div class="col-sm-7">@ViewBag.Car</div>
            </div>
            <div class="row mb-3">
                <div class="col-sm-5 mt-2"><h2 class="h2plus"><strong>City Departure:</strong></h2></div>
                <div class="col-sm-7">@ViewBag.City1</div>
            </div>
            <div class="row mb-3">
                <div class="col-sm-5 mt-2"><h2 class="h2plus"><strong>Time Departure:</strong></h2></div>
                <div class="col-sm-7">@ViewBag.Time1</div>
            </div>
            <div class="row mb-3">
                <div class="col-sm-5 mt-2"><h2 class="h2plus"><strong>City Arrival:</strong></h2></div>
                <div class="col-sm-7">@ViewBag.City2</div>
            </div>
            <div class="row mb-3">
                <div class="col-sm-5 mt-2"><h2 class="h2plus"><strong>Time Arrival:</strong></h2></div>
                <div class="col-sm-7">@ViewBag.Time2</div>
            </div>
            <div class="row mb-3">
                <div class="col-sm-5 mt-2"><h2 class="h2plus"><strong>Price:</strong></h2></div>
                <div class="col-sm-7">@ViewBag.Price</div>
            </div>
            <div class="row">
                <div class="col-sm-5 mt-2"><h2 class="h2plus"><strong>Seat Number:</strong></h2></div>
                <div class="col-sm-7">@ViewBag.Quantity</div>
            </div>
            <div class="col-sm-7">
                <input type="hidden" name="ticketId" value="@ViewBag.TicketId">
            </div>
            <a href="persinfo" class="CTA">
                <img class="ml-1 mt-2" src="../images/empty-arrow-down.png">
            </a>
        </div>
    </div>
</div>